.formDiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticketForm{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
}

.inputLabel{
    font-size: 1.5rem;
}
.notFirst{
    margin-top: 2rem;
}

.inputField{
    width: 90%;
    height: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
}
.descriptionInput{
    min-width: 90%;
    max-width: 90%;
    min-height: 30%;
    max-height: 30%;
    font-size: 1rem;
}
.submitButton{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 7.5%;
    width: 50%;
    background-color: navy;
    border: 1px solid orangered;
    color: white;
    border-radius: 100vw;
}

.submitButton:hover{
    cursor: pointer;
    color: orangered;
    transition: 250ms;
}
.submitButton:active{
    height: 7%;
    width: 48%;
}


@media screen and (max-width: 1024px) {
    .inputLabel{
        font-size: 1rem !important;
    }
    .notFirst{
        margin-top: 1rem;
    }
    .descriptionInput{
        min-width: 90%;
        max-width: 90%;
        min-height: 25%;
        max-height: 25%;
        font-size: 1rem;
    }
}
